<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310440655052-14f2g9dsn06tcspol0iak9mj1fmcshs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310440655052-14f2g9dsn06tcspol0iak9mj1fmcshs3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310440655052-a1e7btpqfco3dgnq9sn2ts2fb1solm0m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYWjmlxwzSXRrtuXqkKskmf_8GQxOAgeA</string>
	<key>GCM_SENDER_ID</key>
	<string>310440655052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tekoworld.glimmergroove</string>
	<key>PROJECT_ID</key>
	<string>glimmer-groove-1cd60</string>
	<key>STORAGE_BUCKET</key>
	<string>glimmer-groove-1cd60.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310440655052:ios:faa701d95cf14483492a69</string>
</dict>
</plist>